<br> <br><br> <br>
<nav class="navbar navbar-expand-md navbar-light navbar-bg fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">
      <%= image_tag  "surrey-891e3c9e20d6f1d8c3753187a9e57594a02314ed145afb3740ac8b7d00f3a155.png" %>

    </a><button class="navbar-toggler" data-aria-controls="navbar" data-aria-label="Toggle navigation" data-target="#navbar" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="navbar-collapse collapse" id="navbar2">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="/admin/dashboard">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin/newElection">New Election</a></li>
        <li class="nav-item" ><a class="nav-link" href="/admin/elections">Elections</a></li>
       </ul>
      <ul class="navbar-nav">
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="jumbotron bg-white border mb-0 py-5">
    <h3 class="text-center">Elections</h3>

    <div class="container" id="list">

      <% if @ElectionArray["elections"].length == 0 %>
            <h4> No elections </h4>
            <% else %>
               <div class="row">
        <% for election in @ElectionArray["elections"] %>
          <div class="col-lg-4 col-md-6 col-12 my-3">
            <div class="card text-black">
              <div class="card-header d-flex justify-content-between">
                <span><%= election["name"] %></span>
                <div class="text-nowrap">
                </div>

              </div>
              <div class="card-body px-0">
                <p class="card-title d-flex flex-row rounded mx-1">
                  <span class="col-6 text-left">ID</span>
                  <span class="col-6 text-right"><%= election["id"] %></span>
                </p>
                <p class="card-title d-flex flex-row rounded mx-1">
                  <span class="col-6 text-left">Location</span>
                  <span class="col-6 text-right"><%= election["location"] %></span>
                </p>
                <p class="card-title d-flex flex-row rounded mx-1">
                  <span class="col-6 text-left">Start Date</span>
                  <span class="col-6 text-right"><%= election["sdate"] %></span>
                </p>

                <p class="card-title d-flex flex-row mb-0">
                <span class="col text-center">
                  <%= link_to 'Upload Pre-election data to Blockchain', {:controller => :admin, :action => :uploadPreElectionToBC}, class:"btn btn-secondary p-0 w-100"%><br><br>
                  <%= link_to 'Start Election', {:controller => :admin, :action => :startElection, :election => election["name"]}, class:"btn btn-secondary p-0 w-100" %><br><br>
                  <%= link_to 'Send Verification Params', {:controller => :admin, :action => :sendVerificationParams, :election => election["name"]}, class:"btn btn-secondary p-0 w-100" %>

                </span>
                </p>
              </div>
            </div>
          </div>
        <% end %>
        <% flash.each do |key, value| %>
          <div style="width:70%; align-self: center; align-items: center; align-content: center;" class="alert alert-<%= key %>"><%= value %></div>
        <% end %>

      </div>
      <% end %>


    </div>
  </div>
</div>
